$serifFont: "Adamina", serif;
$sansSerifFont: "Sarala", sans-serif;

$linkColor: #0000FF;

$tabBgColor: #FFFFFF;
$tabBgColorHover: #EEEEEE;
$tabBorder: 1px dotted #808080;
$tabColor: #606060;

$subTabBgColor: #FFFFFF;
$subTabBorder: 1px dotted #CCCCCC;

$headerBorder: 1px dotted #808080;
$derekColor: #808080;
$hamiltonColor: #000000;
