@import url("https://fonts.googleapis.com/css?family=Adamina|Sarala");
@import "variables";

/* ------ Structure ------*/
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-weight: normal;
}

h1, h2 {
    clear: both;
    margin:0px;
}

h2 {
    margin-top: 1.5em;
}

a {
    color: $linkColor;
    text-decoration: none;
}

#content {
    min-height: 60%;
}

main {
    clear: both;
    min-height: 300px;
}

main, nav {
    margin-left: 10px;
    margin-right: 10px;
}

@media #{$mediaSm} {
    main, nav {
        margin-left: 50px;
        margin-right: 50px;
    }
}

main {
    overflow: hidden;
    font-family: $sansSerifFont;
}

main p {
    margin-top: 3em;
}

/* ------ Tabs ------ */
nav ul {
    list-style: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    z-index: 99;

    li {
        display: block;
        float: left;
        margin-right: 1px;
        padding: 7px 0px;
        width: 90px;

        a {
            background-color: $tabBgColor;
            border-right: $tabBorder;
            border-left: $tabBorder;
            color: $tabColor;
            display: block;
            height: 23px;
            padding: 7px 0px;
            text-align: center;
            width: 90px;
        }
    }
}

@media #{$mediaSm} {
    nav ul li, nav ul li a {
        width: 150px;
    }
}

nav ul li a:hover {
    background-color: $tabBgColorHover;
}

/* ------ Footer ------- */
footer {
    clear: both;
    margin-top: 7px;
    margin-bottom: 50px
}

footer ul {
    list-style: none;
    margin: 0px;
    overflow: hidden;
    padding: 0px;

    li {
        display: inline;

        a {
            background-color: $tabBgColor;
            border-left: $tabBorder;
            border-right: $tabBorder;
            color: $tabColor;
            float: left;
            margin-right: -1px;
            padding: 7px 30px;
        }

        a:hover {
            background-color: $tabBgColorHover;
        }
    }
}

header, footer {
    border-top: $headerBorder;
    border-bottom: $headerBorder;
    font-family: $serifFont;
    font-size: 1.3em;
    margin-top: 1em;
    padding: 15px 0px;
    padding-left: 10px;
}

@media #{$mediaSm} {
    header, footer {
        padding-left: 50px;
    }
}

.derek {
    color: $derekColor;
}

.hamilton {
    color: $hamiltonColor;
}

.main:after, .container:after {
    clear: both;
    content: "";
    display: block;
    height: 0px;
}

.container, .title {
    margin-left: 5%;
    margin-right: 5%;
}
