$dateColor: #808080;

.school, .work
{
  font-size: 1.2em;
  font-style: italic;
}

.date
{
  color: $dateColor;
}

.qual
{
  padding-left: 0px;
  list-style-type: square;
}

main div.resumeMain p
{
    margin-top: 0px;
}
